
@import '~antd/dist/antd.css';
*{
  margin: 0;
  padding: 0;
}
body{
  background: #ddd;
}
a{
  color:black;
}
ul,li{
  list-style: none;
}
li{
  background:white;
  border:1px solid gray;
}
/*
头部
*/
.headerwrap{
  height:50px;
  background-color:#444;
}
.headerwrap header{
  width: 1200px;
  margin: 0 auto;
}
.headerwrap img{
  width: 120px;
  margin-top:7.5px;
}
.headerwrap a{
  margin: 0 20px;
  color:#fff;
}
.inp{
  border-radius:20px;
  padding-left:10px;
  line-height:25px;
  border:0;
  margin-top:10px;
  padding-bottom:5px;
  width:240px;
  background: deeppink;
}
.inp:hover{
  background: #fff;
}
/*main*/
.main{
  width: 1400px;
  margin:30px auto;
}
.content{
  width: 1100px;
  /* height: 40px; */
  float: left;
  /* border:2px solid red; */
}
.sider{
  width: 270px;
  height: 800px;
  float: right;
  background-color: red;
}
.home{
  width: 1100px;
  height: 40px;
  float: left;
  border:2px solid darkgray;
}
.home a{
  float: left;
  margin-right: 10px;
  margin-left: 15px;
  height:20px;
  margin-top:10px;
  border-radius: 5px;
  line-height: 20px;
  color:red;
}
.home a:hover{
  background: red;
  color:white;
}
.about li{
  height:40px;
  line-height: 40px;
  font-size: 15px;
  border:0;
  margin-left: 20px;
}
.all li{
  height:40px;
  float: left;
  width:1100px;
  line-height: 40px;
}
.all li:hover{
  background:  #ddd;
}
.all li:hover li{
  background:  #ddd;
}
.span{
  width:100px;
  border:1px solid red;
}
.btn{
  float:left;
  width:40px;
  height:40px;
  border:1px solid black;
  line-height:30px;
  text-align:center;
}
.btn:hover{
  background: cornsilk;
}
.spa{
  font-size:75px;
  width:270px;
  height:100px;
  margin-left:90px;
  line-height:100px;
}

